joblib==1.5.3
numpy==2.2.6
pandas==2.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.3
dynamsoft_capture_vision_bundle==3.2.5000
mrz-scanner-sdk==4.0.0
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pillow==12.0.0
PyMuPDF==1.26.7
pytesseract==0.3.13
pyzbar==0.1.9
zxing-cpp==2.3.0